@{
    ViewData["Title"] = "О системе";
}
<h1>@ViewData["Title"]</h1>

<p>Система DevOpsManager предназначена для упрощения и оптимизации рабочих процессов DevOps. Она предлагает инструменты для управления сервисами, управления ролями пользователей и персонализированными панелями управления. Наша цель — помочь организациям эффективнее управлять своими IT-ресурсами и процессами, обеспечивая безопасность и доступность данных.</p>

<p>Мы придаем большое значение безопасности данных наших пользователей. Вся информация, предоставленная в рамках использования системы, обрабатывается с соблюдением высоких стандартов защиты. Мы используем передовые технологии и методы для защиты ваших персональных данных от несанкционированного доступа и утечек.</p>

<p>Система находится в процессе разработки. Регистарция доступна для учетной записи Гость. Учетные записи для тестового доступа:</p>
<ul>
    <li>valahanovich:123 - Админитратор</li>
    <li>andreeva:123 - Менеджер</li>
</ul>

