@{
    ViewData["Title"] = "О системе";
}
<h1>@ViewData["Title"]</h1>

<p>Система DevOpsManager предназначена для упрощения и оптимизации рабочих процессов DevOps. Она предлагает инструменты для управления сервисами, управления ролями пользователей и персонализированными панелями управления. Наша цель — помочь организациям эффективнее управлять своими IT-ресурсами и процессами, обеспечивая безопасность и доступность данных.</p>

<p>Мы придаем большое значение безопасности данных наших пользователей. Вся информация, предоставленная в рамках использования системы, обрабатывается с соблюдением высоких стандартов защиты. Мы используем передовые технологии и методы для защиты ваших персональных данных от несанкционированного доступа и утечек.</p>

<p>Данная политика конфиденциальности описывает, как мы собираем, используем и защищаем данные пользователей. Мы стремимся обеспечить прозрачность в вопросах сбора и обработки данных, а также гарантируем, что ваша личная информация будет использована только в рамках, необходимых для предоставления наших услуг.</p>

